---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog";
---


<BaseLayout pageTitle={pageTitle}>
	<h2>Don't Get Left Behind, Go Dijaatal.</h2>
        <p>Latest Posts</p>
    	<ul>	
			{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
</BaseLayout>

	

